.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 100dvh;
    
}

td{
    width: 30%;
    text-align: center;
}



tr{
    padding: 0 10%;
}

input {
    margin: auto;
}

/* Add this CSS to your component or global styles */

table {
    
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid;
  }
  
  th h5 {
    margin: 0; /* Remove margin to prevent unwanted spacing */
  }
  
.thead {
    text-align: center;
}
  