.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 100dvh;
    
}

td{
    width: 30%;
    text-align: center;
}

th {
    text-align: center;
}

td, th {
    border: 1px solid ;
    padding: 2% 
    
}

tr{
    padding: 0 10%;
}

table {
    border-spacing: 1;
}

input {
    margin: auto;
}